# Assignment 6

In [1]:
import sqlite3
import csv


def sqlite_to_csv(dbname, table, csvname, nrows=-1):
    connection = sqlite3.connect(dbname)
    cursor = connection.cursor()

    query = "SELECT * FROM " + table + " LIMIT " + str(nrows)
    cursor.execute(query)
    result = cursor.fetchall()
    result = list(result)

    column = [tuple[0] for tuple in cursor.description]
    with open(csvname, 'w', newline='') as f:
        writer = csv.writer(f)
        writer.writerow(column)
        for row in result:
            writer.writerow(row)
        f.close()
        connection.close()


sqlite_to_csv("chinook.db", "albums", "albums.csv")

OperationalError: no such table: albums